img {
    border-radius: 4%;
    /* padding: 10%; */
    margin: 0 auto;
    margin-left: -5%;
    max-width: 40%;
    height: auto;
}

#buttons {
    word-spacing: 50px;
    padding-top: 10px;
}

body {
	text-align: center;
}
