@media screen and (max-device-width: 500px) {
    body {
        padding-left: 2%;
        padding-right: 2%;
    }
    .button {
        padding: 30px 64px;
        font-size: 32px;
        margin-bottom: 7px;
    }
}